* {
    margin: 0;
    padding: 0;
    border: 0;
}



.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.hello-world {
    margin-top: -700px;
    margin-left: -600px;
    border-top: 1px solid #1E1E34;
    border-radius: 50px;
    background-color: #1E1E34;
    color: #959FB9;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 8rem;
    text-align: center;
    font-weight: bold;
}

.hello-world2 {
    border-top: 1px solid #959FB9;
    border-radius: 50px;
    background-color: #959FB9;
    color: #1E1E34;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 8rem;
    text-align: center;
    font-weight: bold;
}